@import "../../globalStyles/variables.scss";
@import "../../globalStyles/mixins.scss";
@import "../../globalStyles/extendables.scss";

.result-box {
  max-width: 480px;
  margin: 0 auto;
  margin-top: $spacing-xl;
  position: relative;
  padding: $spacing-xl;
  margin-bottom: $spacing-xxl * 3;
  @include makeFlex(center, center, column);

  & h1 {
    font-size: $primary-font-size * 3;
    margin: 0;
    margin-bottom: $spacing-sm;
    max-width: 480px;
    overflow-wrap: break-word;
  }

  & span {
    font-size: $primary-font-size;
    color: $gray-500;
    margin-bottom: $spacing-lg;

    &:last-child {
      font-size: $secondary-font-size;
      color: $gray-500;
      font-style: italic;

      & strong {
        color: darken($gray-500, 10);
      }
    }
  }
}
