// pallette
$primary-color: #f4f1ea;
$secondary-color: #f5624e;
$warn-color: #f6d55c;
$danger-color: #ed553b;
$coral-light: #f0a354;

$white: #ffffff;
$gray-200: #d3d3d3;
$gray-500: #969696;
$gray-800: #47464c;
$black: #000000;

// typography
$heading-font-size: 36px;
$primary-font-size: 18px;
$secondary-font-size: 14px;

// sizes
$spacing-sm: 8px;
$spacing-md: 12px;
$spacing-lg: 18px;
$spacing-xl: 24px;
$spacing-xxl: 36px;

// radiuse
$global-border-radius: 6px;

// sizes
$table-mid: 768px;
$mobile-ceil: 425px;
$mobile-mid: 375px;
$mobile-floor: 320px;
