@import "../../globalStyles/variables.scss";
@import "../../globalStyles/mixins.scss";

.junior-way {
  position: relative;
  height: calc(100vh - 200px);

  &__container {
    padding-top: $spacing-xxl * 3;
  }
}
