@import "../../globalStyles/variables.scss";
@import "../../globalStyles/mixins.scss";

.advance-solution {
  position: relative;

  &__container {
    padding-top: $spacing-md;

    & h1,
    h4 {
      color: $gray-800;
      font-size: $primary-font-size * 1.5;
      text-align: center;
      max-width: 480px;
      margin: 0 auto;
      margin-bottom: $spacing-sm;
    }

    & h4 {
      font-size: $secondary-font-size * 1.25;
      margin-bottom: $spacing-xxl;
      color: $gray-500;
      line-height: 1.6;
    }
  }
}
